
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #7D889E;
    
}



.wrapper{
    height: 497px;
    width: 320px;
    border-radius: 20px;
    background-color:#fff5f5; ;
}




.photo{
    height: 288px;
    width: 288px;
    border-radius: 10px;
    background: #2C7DFA;
    margin-top: 16px;
    margin-left: 16px;
}



.improve{
    height: 56px;
    width: 250px;
    margin-top: 24px;
    margin-left: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #1F314F;
    

}

.scan{
    height: 57px;
    width: 256px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
     color: #7D889E;
    margin-top:16px ;
    margin-left: 32px;
}

